/* FORZAR MOVIMIENTO DE ETIQUETA BUTTON DATATABLES A FLOAT DERECHO */
.dataTables_wrapper .dt-buttons {
  float:right;
  padding-bottom: 10px;
}

.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #00a65a !important;
}

/* Temporal SOLUCION ALINEAR DIV BUTTON CON DIV INPUT FORM*/
/* .dataTables_wrapper {
    clear: none !important;
    padding-bottom: 10px;
} */

/* Estilo para seleccion de filas datatable por forzamiento */
table.dataTable tbody tr.selected {
  background-color: #f3e4ce !important;
}
/* Estilo para seleccion de filas datatable por Hover  */
table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background-color: #f3e4ce !important;
}
#buttons {
  background-color: none;
}

.jconfirm .jconfirm-box.jconfirm-type-personal {
    border-top: solid 7px #00a65a;
    -webkit-animation-name: type-personañ;
    animation-name: type-personal;
}
.jconfirm .jconfirm-box.jconfirm-type-personal .jconfirm-title-c .jconfirm-icon-c {
    color: #00a65a!important;
}

.jconfirm .jconfirm-box.jconfirm-type-yellow {
    border-top: solid 7px #f0ad4e;
    -webkit-animation-name: type-yellow;
    animation-name: type-yellow;
}
.jconfirm .jconfirm-box.jconfirm-type-yellow .jconfirm-title-c .jconfirm-icon-c {
    color: #f0ad4e!important;
}



/* CSS CODE AUTOCOMPLETE */

.breadcrumb {
    background-color: rgba(0,0,0,.03);
    border: 1px solid rgba(0,0,0,.125);
}
.adsbygoogle {
    margin-bottom: 15px;
}
#suggestions {
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
    height: auto;
    position: absolute;
    top: 58px;
    z-index: 9999;
    width: 206px;
}

#suggestions .suggest-element {
    background-color: #EEEEEE;
    border-top: 1px solid #d6d4d4;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    float: left;
}

/* #content{
    margin-top:20%; /* Don't copy this
} */
.stylish-input-group .input-group-addon{
    background: #00c0f0 !important;
		color: white;
		border-color: #00c0f0  !important;
}
.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}


#refresh_autocomplete{
	background: #ccc !important;
	color: white;
	border-color: #ccc !important;
}

  /*--------------------------------*/
 /* STYLES OUTSIDE LOGIN INTERFACE* /
/*--------------------------------*/


#imagenmuestra{
	display: block !important;
}


.input-symbol-euro {
		position: relative;
}
.input-symbol-euro input {
		padding-left: 20px;
}
.input-symbol-euro:after {
position: absolute;
top: -27px;
content: "S/";
left: 5px;
}

.input-symbol-porcent {
    position: relative;
}
.input-symbol-porcent input {
    padding-right: 30px;
}
.input-symbol-porcent:after {
  position: absolute;
  bottom: 6.5px;
  content: "%";
  left: 100px;
}
#cantidad{
	/* height: 40px;
	margin-top: 10px; */
	/* border: 1px solid #e6e6e6; */
	/* padding-left: 15px; */
	padding-right: 35px;
  background: #f5f5f5 url("../images/logo.png");
	background-repeat: no-repeat;
	background-position: 90%;
}

#total_estilo{
	/* padding: 22.5px 20px 10px 10px; */
    font-size: 16px;
}

.total_style{
  border-top: 2px solid #222d324a;
  width: 100px;
  color: #222d32;
  text-shadow: 1px 2px 3px #b1b1b1;
}

.total_style_venta{
  border-top: 2px solid #222d324a;
  width: 160px;
  color: #222d32;
  text-shadow: 1px 2px 3px #b1b1b1;
}

#p_none{
 display: none;
}

.sidebar {
    padding-bottom: 0px !important;
}

.modal-open {
	overflow:hidden;
  overflow-y:scroll;
  padding-right:0 !important;
}


.swal2-popup {
	font-size : 1.6 rem  ! important ;
 }


 .swal2-popup {
    font-size: 1.5rem !important;

}

.btn-personal {
    background-color: #5c6367;
    border-color: #999ea0;
		color: #fff;
		border-radius: 3px;
		-webkit-box-shadow: none;
		box-shadow: none;
		border: 1px solid transparent;
}

.btn-personal:hover, .btn-personal:focus, .btn-personal:hover {
	background-color: #464a4c;
	border-color: #676b6d;
    color: #fff !important;
}


.referenceh1{
  font-weight: bold;
	text-align: center;
}


.btn-app:hover {
    background: #e09012;
    color: #fbfbfb;
    border-color: #d08409;
}

.btn-app {
    background: #f39c12;
    color: #fbfbfb;
    border-color: #ff7f00;
		font-size: 15px;
    font-variant-caps: all-petite-caps;
    font-weight: bold;
    padding-top: 10px;
}

/* COMENTARIOS PARA INTERPRETAR ESTILOS PERSONALIZADOS */
img#imagen_producto {
    margin: 0 auto;
}

input[type=number]::selection {
    background: #90909087;
    color: black;
    text-shadow: 1px 1px #fff;
}

#codinp {
  /* AQUI HUBO UN CAMBIO */
  color: #337ab7;
font-weight: bold;
text-align: center;
font-size: 14px;
font-family: inherit;
}

/* CONTROLANDO BACKGROUND TABLE Y BORDER */

/* .table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 1px solid #130e0e1f !important;
}

.table>tbody>tr.danger>td, .table>tbody>tr.danger>th, .table>tbody>tr>td.danger, .table>tbody>tr>th.danger, .table>tfoot>tr.danger>td, .table>tfoot>tr.danger>th, .table>tfoot>tr>td.danger, .table>tfoot>tr>th.danger, .table>thead>tr.danger>td, .table>thead>tr.danger>th, .table>thead>tr>td.danger, .table>thead>tr>th.danger {
    background-color: #eaeaea !important;
} */

.table>tbody>tr.filas>td{
  border: 1px solid #c6c7c7;
}

#TOT{
  padding-top: 23.4px;
  font-size: 20px;
  text-align: -webkit-center;
}

div.dt-buttons {
    float: right !important;
}

table.dataTable tr.group td {
  text-align: center !important;
    font-weight: bold !important;
    background-color: #5c6367 !important;
    color: white !important;
}


#span_cod{
  font-size: 15px;
    font-weight: bold;
    font-family: monospace;
    text-transform: uppercase;
}

#container_date{
	display: flex;
}
